#header {
  background:url('../img/ipao-group2.jpg') no-repeat center center fixed;
  height: 800px;
  margin: 0;
  padding: 200px 0 260px 0;
}

#about {
  background-color:#3D302D;
  height: 600px;
  margin: 0;
  padding: 200px 0 260px 0;
  overflow: hidden;
}

h1 {
  color:#FFF;
}

h2 {
  color:#FFF;
  text-align: center;
}
